<style type="text/css">
.tab { margin-left: 40px; }
</style>

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">Call System</button>
                        <button class="btn btn-white btn-xs" type="button">EVV System</button>
                    </div>
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> 13th Aug 2017</span>
                        <h1>
                            How to use the Call System <br>
                        </h1>
                    </div>
                    <h2>
                        What We Cover:
                    </h2>
                    <p>
                        <strong>• How to Clock In</strong> <br>
                        <strong>• How to Clock Out</strong> <br>

                    </p>
                    <br><br><br><br>

                    <h2><br>
                        <strong>How to Clock In</strong> <br>
                    </h2>
                    <p>
                        We will continue using Janice as our caregiver in this example.
                    </p>
                    <h2><br>
                        Step 1: Janice visits the patient
                    </h2>
                    <h2><br>
                        Step 2: Janice uses the patient's phone to clock in<br>
                    </h2>
                    <p class="tab">
                        The patient is also known as the client. When creating the client, make sure to use their number as the Authorized Phone Number.
                    </p>
                    <h2><br>
                        Step 3: Janice enters her pin.
                    </h2>
                    <p class="tab">
                        We then record her voice. This ensures that Janice is the one assisting the patient. <br>These recordings are available in the RVV Recordings Report (You'll find this in the Reports).
                    </p>
                    <h2><br>
                        Step 4: Janice continues to assist the patient as she normally would.<br>
                    </h2>


                    <h2><br><br><br><br>
                      <strong>How to Clock Out</strong> <br>
                    </h2>
                    <h2><br>
                        Step 1: Janice uses the patient's phone to clock out<br>
                    </h2>
                    <p class="tab">
                        The patient is also known as the client. When creating the client, make sure to use their number as the Authorized Phone Number.
                    </p>
                    <h2><br>
                        Step 2: Janice enters her pin.
                    </h2>
                    <h2><br>
                        Step 3: Janice logs her work.
                    </h2>
                    <p class="tab">
                        Callia will ask Janice the questions about her activities (located in the call configuration).
                    </p>
                    <h2><br>
                        Success: Janice has officially clocked out.
                    </h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Call System</button>
                            <button class="btn btn-primary btn-xs" type="button">EVV System</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <i class="fa fa-eye"> </i> 1440 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
