<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
      <%if current_user.name%>
        <h2>Welcome <%= current_user.name%></h2>
      <%end%>
        <small>You have <%=current_user.reminders.where('date > ?', Time.now).count%> reminders.</small>
        <%current_user.reminders.where('date > ?', Time.now).each do |r|%>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="pull-right">
                        09:00 pm
                    </span>
                    <span class="label label-success">1</span> <%=r.reminder%>
                </li>
            </ul>
        <%end%>
    </div>
    <div class="col-sm-6">
        <div class="flot-chart dashboard-chart">
            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
        </div>
        <div class="row text-left">
            <div class="col-xs-4">
                <div class=" m-l-md">
                    <span class="h4 font-bold m-t block">$ 406,100</span>
                    <small class="text-muted m-b block">Sales marketing report</small>
                </div>
            </div>
            <div class="col-xs-4">
                <span class="h4 font-bold m-t block">$ 150,401</span>
                <small class="text-muted m-b block">Annual sales revenue</small>
            </div>
            <div class="col-xs-4">
                <span class="h4 font-bold m-t block">$ 16,822</span>
                <small class="text-muted m-b block">Half-year revenue margin</small>
            </div>

        </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 lazur-bg">
          <div class="row vertical-align">
              <div class="col-xs-3">
                  <i class="fa fa-phone fa-3x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <h2 class="font-bold">(314) 832-9210</h2>
              </div>
          </div>
      </div>
  </div>
    <div class="col-sm-3">
        <div class="statistic-box">
            <h4>
                Project Beta progress
            </h4>
            <p>
                You have two project with not compleated task.
            </p>
            <div class="row text-center">
                <div class="col-lg-6">
                    <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >Kolter</h5>
                </div>
                <div class="col-lg-6">
                    <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                    <h5 >Maxtor</h5>
                </div>
            </div>
            <div class="m-t">
                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>

        </div>
    </div>

</div>


<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Recent Activity</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content inspinia-timeline">

                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-briefcase"></i>
                            6:00 am
                            <br />
                            <small class="text-navy">2 hour ago</small>
                        </div>
                        <div class="col-xs-7 content no-top-border">
                            <p class="m-b-xs"><strong>Meeting</strong></p>

                            <p>
                                Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                                sale.
                            </p>

                            <p><span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span></p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i>
                            7:00 am
                            <br />
                            <small class="text-navy">3 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-coffee"></i>
                            8:00 am
                            <br />
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Coffee Break</strong></p>
                            <p>
                                Go to shop and find some products.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-phone"></i>
                            11:00 am
                            <br />
                            <small class="text-navy">21 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                            <p>
                                Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-user-md"></i>
                            09:00 pm
                            <br />
                            <small>21 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
                            <p>
                                Find some issue and go to doctor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-user-md"></i>
                            11:10 pm
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Chat with Sandra</strong></p>
                            <p>
                                Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-comments"></i>
                            12:50 pm
                            <br />
                            <small class="text-navy">48 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
                            <p>
                                Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-phone"></i>
                            08:50 pm
                            <br />
                            <small class="text-navy">68 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Phone to James</strong></p>
                            <p>
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i>
                            7:00 am
                            <br />
                            <small class="text-navy">3 hour ago</small>
                        </div>
                        <div class="col-xs-7 content">
                            <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

    setInterval(function () {
        var random = Math.round(Math.random() * 10)
        var values = updatingChart.text().split(",")
        values.shift()
        values.push(random)

        updatingChart
                .text(values.join(","))
                .change()
    }, 1000);

});

</script>

<% end %>



<div class="footer">
    <div class="pull-right">
        10 of <strong>50 Calls</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Callia &copy; 2014-2017
    </div>
</div>
</div>

<% content_for :javascript do %>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" /> -->

<script type="text/javascript">

$(function() {

    setTimeout(function() {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 4000
        };
        toastr.success('<%=current_user.name%>', 'Welcome to Callia');

    }, 1300);

    $(".bar_dashboard").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"],
        width: 100
    })

    $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
        type: 'bar',
        barWidth: 8,
        height: '150px',
        barColor: '#1ab394',
        negBarColor: '#c6c6c6'
    });

    var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

    setInterval(function () {
        var random = Math.round(Math.random() * 10)
        var values = updatingChart.text().split(",")
        values.shift()
        values.push(random)

        updatingChart
                .text(values.join(","))
                .change()
    }, 1000);

    var data1 = [
        [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
    ];
    var data2 = [
        [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
    ];
    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
        data1, data2
    ],
            {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#d5d5d5'
                },
                colors: ["#1ab394", "#1C84C6"],
                xaxis: {
                },
                yaxis: {
                    ticks: 4
                },
                tooltip: false
            }
    );

    var doughnutData = {
        labels: ["App","Software","Laptop" ],
        datasets: [{
            data: [300,50,100],
            backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
        }]
    } ;


    var doughnutOptions = {
        responsive: false,
        legend: {
            display: false
        }
    };


    var ctx4 = document.getElementById("doughnutChart").getContext("2d");
    new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

    var doughnutData = {
        labels: ["App","Software","Laptop" ],
        datasets: [{
            data: [70,27,85],
            backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
        }]
    } ;


    var doughnutOptions = {
        responsive: false,
        legend: {
            display: false
        }
    };


    var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
    new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

});

</script>


<% end %>
