<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>Starting Guide</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Dashboard</a>
            </li>
            <li class="active">
                <strong>Starting Guide</strong>
            </li>
        </ol>

</div>
<div class="col-sm-2">

</div>
        </div>
<section id="about" class="">


          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="wrapper wrapper-content animated fadeInUp">
                  <div class="ibox">
                        <div class=" ibox-content">
                          <div class="col-sm-offset-1">

                            <h1 class="" style="color: #3D8EB9;">Step 1: Select Plan</h1>
                            <br>
                            <div class="row">
                              <div class="col-sm-9">
                                <h2 class="" style="font-size:25px;"><strong>
                                  Let's get started!
                                </strong></h2>
                                <p style="font-size:23px;">
                                  - Select your plan
                                </p>
                                <p style="font-size:23px;">
                                  - Enter payment information
                                </p>
                                <p style="font-size:23px;">
                                  - And Begin your Free Trial!
                                </p>
                              </div>
                              <div class="col-sm-offset-7 col-sm-4">
                                <br><br>
                                <a href="/pricing" target="_blank" class="btn btn-w-m full-width btn-success">Get Started</a>
                              </div>
                            </div>

                          </div>

                      </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="wrapper wrapper-content animated fadeInUp">
                  <div class="ibox">
                        <div class=" ibox-content">
                          <div class="col-sm-offset-1">

                            <h1 class="" style="color: #3D8EB9;">Step 2: Set up your Account</h1>
                            <br>
                            <div class="row">
                              <div class="col-sm-9">
                                <h2 class="" style="font-size:25px;"><strong>
                                  This process is fast and simple with our quickstart process
                                </strong></h2>
                                <p style="font-size:23px;">
                                  - Learn to create an Office
                                </p>
                                <p style="font-size:23px;">
                                  - Learn to create Caregivers
                                </p>
                                <p style="font-size:23px;">
                                  - Learn to create Clients
                                </p>
                              </div>
                              <div class="col-sm-offset-7 col-sm-4">
                                <br><br>
                                <a href="/quickstart" target="_blank" class="btn btn-w-m full-width btn-success">Set up my Office</a>
                              </div>
                            </div>

                          </div>

                      </div>
                  </div>
                </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="wrapper wrapper-content animated fadeInUp">
                  <div class="ibox">
                        <div class=" ibox-content">
                          <div class="col-sm-offset-1">

                            <h1 class="" style="color: #3D8EB9;">Step 3: Demo</h1>
                            <br>
                            <div class="row">
                              <div class="col-sm-9">
                                <h2 class="" style="font-size:25px;"><strong>
                                  Simulate the clock in process
                                </strong></h2>
                                <p style="font-size:23px;">
                                  - Try out our service
                                </p>
                                <p style="font-size:23px;">
                                  - Understand the way Callia works
                                </p>
                              </div>
                              <div class="col-sm-offset-7 col-sm-4">
                                <br><br>
                                <a href="/demo" target="_blank" class="btn btn-w-m full-width btn-success">Start Demo</a>
                              </div>
                            </div>

                          </div>

                      </div>
                  </div>
                </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="wrapper wrapper-content animated fadeInUp">
                  <div class="ibox">
                        <div class=" ibox-content">
                          <div class="col-sm-offset-1">

                            <h1 class="" style="color: #3D8EB9;">Step 4: You're Finished</h1>
                            <br>
                            <div class="row">
                              <div class="col-sm-9">
                                <h2 class="" style="font-size:25px;"><strong>
                                  You've Successfully Completed the Starting Guide
                                </strong></h2>
                                <p style="font-size:23px;">
                                  - You now have the essentials to completing your business
                                </p>
                                <p style="font-size:23px;">
                                  - Enter payment information
                                </p>
                                <p style="font-size:23px;">
                                  - And Begin your Free Trial!
                                </p>
                              </div>
                              <div class="col-sm-offset-7 col-sm-4">
                                <br><br>
                                <a href="/dashboard" target="_blank" class="btn btn-w-m full-width btn-success">Go to the Dashboard</a>
                              </div>
                            </div>

                          </div>

                      </div>
                  </div>
                </div>
            </div>
          </div>

</section>
