<%= form_for :anything, url: "display_question?client_id=#{client.id}&c_id=#{@id}&order=#{order + 1}&t_id=#{@t_id}&service_ids=#{service_ids}" do |f| %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="m-t" role="form" >

    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5>Timesheet Question </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                  <i class="fa fa-times"></i>
              </a>
          </div>
      </div>
      <div class="ibox-content">

          <div class="form-group">
            <label class="col-sm-2 control-label"><%=@question%></label>
              <div class="row">
                <div class="col-sm-4">
                    <div class="actions">
                      <%= f.submit "Yes", name: "response", value: "Yes", class: "btn btn-success block full-width m-b" %>
                      <%= f.submit "No", name: "response", value: "No", class: "btn btn-danger block full-width m-b" %>
                    </div>
                    <br>
                    <br>
                </div>
              </div>
          </div>





      </div>
    </div>

  </div>

<% end %>
